<section class="main">
  <div class="main-content main-grid">
    <h1 class="title">
      "India is set to defeat Covid-19. <br />
      Every Indian is making it possible."
    </h1>
    <p class="author">PM Narendra Modi</p>

    <div class="cta">
      <a
        class="btn btn-dark btn-sm"
        [routerLink]="['/admin/register-a-vaccination']"
        >Register a Vaccination</a
      >
      <a
        class="btn btn-outline-danger btn-sm"
        [routerLink]="['/admin/view-registered-vaccinations']"
        >View Registered Vaccinations</a
      >
    </div>
  </div>
</section>
