.main {
  height: 115%;
  background: url("../../../../../../assets/images/hero-images/admin_banner.jpg")
    no-repeat;
  background-position: center 100%;
  background-size: cover;
}

.main-content {
  padding-top: calc(10vh + 6vw);
}

.title {
  font-size: clamp(1rem, 4vw, 40px);
  color: #000;
  font-weight: 500;
  line-height: 40px;
  padding-right: 2%;
  margin-bottom: 1%;
}

.author {
  font-size: clamp(0.85rem, 2.2vw, 26px);
  line-height: 26px;
  font-weight: 500;
}

.author::before {
  content: "-";
  margin-right: 1rem;
}

.cta {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

a {
  text-transform: uppercase;
  font-weight: 500;
}

.btn-dark {
  color: #fff;
}

@media (max-width: 767px) {
  .main {
    height: 100%;
    background: url("../../../../../../assets/images/hero-images/admin_banner_mobile.jpg")
      no-repeat;
    background-position: 50% 30%;
    background-size: cover;
  }

  .cta {
    flex-direction: column;
  }
}
