<section class="partner" id="partner">
  <h2>Our Partners</h2>
  <section class="partner-grid">
    <article>
      <img
        src="../../../../../../assets/images/hospitals/hospital_1.jpg"
        alt="img"
      />
      <div class="info">
        <h3 class="name">Nanavati Super Speciality Hospital</h3>
      </div>
    </article>

    <article>
      <img
        src="images/../../../../../../assets/images/hospitals/hospital_2.jpg"
        alt="img"
      />
      <div class="info">
        <h3 class="name">S L Raheja Fortis Hospital</h3>
      </div>
    </article>

    <article>
      <img
        src="../../../../../../assets/images/hospitals/hospital_3.jpg"
        alt="img"
      />
      <div class="info">
        <h3 class="name">Jupiter Hospital</h3>
      </div>
    </article>

    <article>
      <img
        src="../../../../../../assets/images/hospitals/hospital_4.jpg"
        alt="img"
      />
      <div class="info">
        <h3 class="name">Godrej Memorial Hospital</h3>
      </div>
    </article>

    <article>
      <img
        src="../../../../../../assets/images/hospitals/hospital_5.jpg"
        alt="img"
      />
      <div class="info">
        <h3 class="name">Fortis Hospital</h3>
      </div>
    </article>

    <article>
      <img
        src="../../../../../../assets/images/hospitals/hospital_6.jpg"
        alt="img"
      />
      <div class="info">
        <h3 class="name">Jaslok Hospital</h3>
      </div>
    </article>
  </section>
</section>
