.main-grid {
  justify-content: space-between;
  align-items: center;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: clamp(1em, 3vw, 2em);
  letter-spacing: 0.4rem;
  color: var(--clr-white);
  font-weight: bolder;
  margin: 0;
}

.right {
  align-items: center;
  gap: clamp(0.3rem, 1vw, 1rem);
}

.nav__item--link {
  font-size: clamp(0.6em, 1.5vw, 0.8em);
}

.nav__item--link {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 0.1em;
}

.nav__item:nth-of-type(1) .nav__item--link {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

.nav__item:nth-of-type(1) .nav__item--link:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.nav__item:nth-of-type(2) .nav__item--link {
  color: var(--clr-white);
  background-color: #0d6efd;
}

.nav__item:nth-of-type(2) .nav__item--link:hover {
  background-color: transparent;
  color: var(--clr-white);
  border: 1px solid #0d6efd;
}
