<section class="main">
  <div class="main-content main-grid">
    <div class="left">
      <h1 class="title">Register Your Vaccinations!</h1>
      <p class="text">Get Your First Dose Of Vaccine Today.</p>
      <a href="http://cowin.gov.in" target="_blank" class="hero-link"
        >Learn More!</a
      >
    </div>
    <div class="right">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3>Admin Login</h3>
        <div class="form-group username">
          <input
            type="text"
            name="username"
            id="username"
            value="admin"
            formControlName="username"
          />
          <label for="username">Username</label>
        </div>

        <div class="form-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            id="password"
            class="pass-input"
            formControlName="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
          <i
            [ngClass]="{
              'fas fa-eye': showPassword === true,
              'fa fa-eye-slash': showPassword === false
            }"
            (click)="showPassword = !showPassword"
          ></i>
        </div>
        <div
          class="alert alert-danger py-1"
          [hidden]="password.valid || password.untouched"
        >
          <p [hidden]="!password.hasError('required')">
            - Password Is Mandatory
          </p>
        </div>

        <div class="cta">
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="btn btn-warning"
          >
            Login
          </button>
          <button type="button" class="btn btn-danger" (click)="onReset()">
            Reset
          </button>
        </div>
      </form>
    </div>

    <div
      [ngClass]="{ active: invalidPassword }"
      class="alert alert-danger d-flex align-items-center invalid-password"
      role="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
        viewBox="0 0 16 16"
        role="img"
        aria-label="Warning:"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <div class="mx-2">INVALID LOGIN CREDENTIALS</div>
    </div>
  </div>
</section>
